.yx-opacity-0 {
	opacity: 0;
}

.yx-opacity-5 {
	opacity: 0.05;
}

.yx-opacity-10 {
	opacity: 0.1;
}

.yx-opacity-15 {
	opacity: 0.15;
}

.yx-opacity-20 {
	opacity: 0.2;
}

.yx-opacity-25 {
	opacity: 0.25;
}

.yx-opacity-30 {
	opacity: 0.3;
}

.yx-opacity-35 {
	opacity: 0.35;
}

.yx-opacity-40 {
	opacity: 0.4;
}

.yx-opacity-45 {
	opacity: 0.45;
}

.yx-opacity-50 {
	opacity: 0.5;
}

.yx-opacity-55 {
	opacity: 0.55;
}

.yx-opacity-60 {
	opacity: 0.6;
}

.yx-opacity-65 {
	opacity: 0.65;
}

.yx-opacity-70 {
	opacity: 0.7;
}

.yx-opacity-75 {
	opacity: 0.75;
}

.yx-opacity-80 {
	opacity: 0.8;
}

.yx-opacity-85 {
	opacity: 0.85;
}

.yx-opacity-90 {
	opacity: 0.9;
}

.yx-opacity-95 {
	opacity: 0.95;
}

.yx-opacity-100 {
	opacity: 1;
}
