.yx-transition-all {
	transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.yx-transition {
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.yx-duration-0 {
    transition-duration: 0s;
}

.yx-duration-75	{
    transition-duration: 75ms;
}

.yx-duration-100 {
    transition-duration: 100ms;
}

.yx-duration-150 {
    transition-duration: 150ms;
}

.yx-duration-200 {
    transition-duration: 200ms;
}

.yx-duration-300 {
    transition-duration: 300ms;
}

.yx-duration-500 {
	transition-duration: 500ms;
}

.yx-duration-700 {
	transition-duration: 700ms;
}

.yx-duration-1000 {
	transition-duration: 1000ms;
}

.yx-ease-linear {
	transition-timing-function: linear;
}

.yx-ease-in {
	transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.yx-ease-out {
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.yx-ease-in-out {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
